<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Workbook Viewer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>

    <body>
        <main role="main" class="container">

            <div class="starter-template">
                <h1>Workbook Viewer</h1>
                <form action="/upload-workbook" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="workbook">Workbook upload</label>
                        <input type="file" class="form-control-file" id="workbook" name="workbook">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}" />

            <div class="upload-result" th:if="${filename}">
                <h2 th:text="'Contents of file ' + ${filename}" />
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th>Phone</th>
                            <th>Credit limit</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="person : ${records}">
                            <td th:text="${person.name()}" />
                            <td th:text="${person.address()}" />
                            <td th:text="${person.postcode()}" />
                            <td th:text="${person.phone()}" />
                            <td th:text="${person.creditLimit()}" />
                            <td th:text="${person.birthday()}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>